.cards-container {
    position: relative;

    width: 40rem;
    aspect-ratio: 1;
}

.unu-card {
    position: absolute;

    width: 4rem;

    right: 10%;
    bottom: 10%;
}


@for $i from 1 to 28 {
    $radial-axis: 0;
    $x-axis: 0;
    $y-axis: 0;
    .unu-card:nth-of-type(#{$i < 8}) {
      transform: 
        translate 0;
        animation: deal 300ms calc(10ms*$i) ease-in-out forwards;
    }
    
    @keyframes deal {
    
  }
  }

  