---
import Layout from "../layouts/Layout.astro"
import Scene from "../components/Scene.astro"
import Loader from "../components/Loader.astro"
---

<Layout title="Playground">
  <main class="screen-size">
    <section class="welcome-screen">
      <h1>
        The <span>Playground</span>
      </h1>
      <p>
        Explore a diverse range of games suitable for the entire family and
        watch live demos
      </p>
    </section>
    <section class="game-links">
      <a class="jigsaw game-link" href="#jigsaw"> Jigsaw puzzle</a>
      <a class="board game-link" href="#board"> Board game</a>
      <a class="cards game-link" href="#cards"> Card game</a>
    </section>
    <section class="jigsaw-text">
      <h2>Piece together a beautiful picture</h2>
    </section>
    <section id="jigsaw">
      <button id="open">Open</button>
      <button id="assemble">Assemble</button>
    </section>
    <section class="board-text">
      <h2>Enjoy a delightful time playing our board game</h2>
    </section>
    <section id="board">
      <button id="roll">Roll dice</button>
    </section>
    <section class="cards-text">
      <h2>Make your party fun with card game</h2>
    </section>
    <section id="cards">
      <button id="deal">Deal</button>
      <button id="start">Start game</button>
    </section>
    <Scene />
    <Loader />
  </main>
</Layout>

<style lang="scss">
  h1 {
    font-size: clamp(3rem, 5vw, 4rem);
    text-wrap: balance;
    max-width: var(--size-content-2);
  }

  h2 {
    font-size: var(--font-size-fluid-2);
    text-wrap: balance;
    max-width: var(--size-content-2);
    color: var(--gray-10);
  }
  p {
    font-size: var(--font-size-fluid-1);
    max-width: var(--size-content-2);
  }

  h1,
  h2,
  p {
    z-index: 1;
  }

  button {
    position: relative;
    z-index: 2;
    cursor: pointer;
  }
  main {
    position: relative;
    display: grid;
    justify-items: center;
    background: linear-gradient(
      var(--yellow-0),
      var(--lime-1),
      var(--green-1),
      var(--teal-1),
      var(--lime-1),
      var(--yellow-1),
      var(--red-1)
    );
    text-align: center;
  }
  section {
    height: 100vh;
    height: 100lvh;
    width: 100%;

    display: grid;
    position: relative;
    place-content: center;
    gap: 2rem;
  }
  .welcome-screen {
    display: grid;
    place-content: center;
    gap: 16vh;
    grid-row: 1;
    grid-column: 1/-1;

    h1 {
      color: var(--choco-10);
      font-weight: 900;
      letter-spacing: var(--font-letterspacing-1);
      span {
        color: var(--red-8);
      }
    }

    p {
      color: var(--choco-9);
      font-weight: 400;
    }
  }

  .game-links {
    display: grid;
    grid-template-columns: repeat(2 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-content: center;
    align-items: center;

    scroll-snap-align: start;
    scroll-margin: 0;

    font-weight: 900;
    padding: var(--size-fluid-4);
    a {
      text-decoration: none;
      line-height: 1.4;
      font-size: var(--font-size-fluid-2);
      text-align: center;
      padding: 2rem;
      padding-top: 1.5rem;
      color: var(--gray-10);
      z-index: 1;
      border-radius: 2rem;

      box-shadow: var(--shadow-2);
      transition: scale 300ms;
      &:hover {
        scale: 1.05;
      }
    }
    .jigsaw {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .board {
      grid-column: 2/3;
      grid-row: 2/3;
    }
    .cards {
      grid-column: 1/2;
      grid-row: 3/4;
    }
  }

  #jigsaw {
    scroll-snap-align: start;
    scroll-margin: 0;
    #open {
      position: absolute;

      bottom: 60%;
      right: 40%;

      font-size: var(--font-size-fluid-1);

      color: var(--green-12);

      background-color: var(--green-3);
      border-radius: 1rem;
      padding: 1rem;
      padding-top: 0.5rem;

      box-shadow: var(--shadow-2);
      font-weight: 700;
    }

    #assemble {
      position: absolute;

      bottom: 60%;
      right: 50%;

      font-size: var(--font-size-fluid-1);

      color: var(--pink-12);

      background-color: var(--red-3);
      border-radius: 1rem;
      padding: 1rem;
      padding-top: 0.5rem;

      box-shadow: var(--shadow-2);
      font-weight: 700;

      opacity: 0;
      pointer-events: none;
    }
  }

  #board {
    scroll-snap-align: start;
    scroll-margin: 0;

    #roll {
      position: absolute;

      top: 20%;
      right: 50%;

      font-size: var(--font-size-fluid-1);

      color: var(--gray-11);

      background-color: var(--gray-3);
      border-radius: 1rem;
      padding: 1rem;
      padding-top: 0.8rem;

      box-shadow: var(--shadow-2);
      font-weight: 700;
    }
  }

  #cards {
    scroll-snap-align: start;
    scroll-margin: 0;

    #deal {
      position: absolute;

      bottom: 40%;
      right: 20%;

      font-size: var(--font-size-fluid-1);

      color: var(--green-12);

      background-color: var(--green-3);
      border-radius: 1rem;
      padding: 1rem;
      padding-top: 0.5rem;

      box-shadow: var(--shadow-2);
      font-weight: 700;
    }

    #start {
      position: absolute;

      bottom: 10%;
      left: 50%;

      font-size: var(--font-size-fluid-1);

      color: var(--pink-12);

      background-color: var(--red-3);
      border-radius: 1rem;
      padding: 1rem;
      padding-top: 0.5rem;

      box-shadow: var(--shadow-2);
      font-weight: 700;

      opacity: 0;
      pointer-events: none;
    }
  }
</style>
