---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
import Scene from "../components/Scene.astro"
---

<Layout title="Playground">
  <main>
    <Scene />
    <section class="welcome-screen">
      <h1 class="welcome-header">Welcome to Playground!</h1>
      <p class="welcome-text">
        We have a variety of games for the whole family.
      </p>
    </section>
    <section class="cards">
      <ul class="card-container">
        <Card href="#jigsaw" title="Jigsaw Puzzles" body="" />
        <Card href="#board" title="Board games" body="" />
        <Card href="#card" title="Card games" body="" />
      </ul>
    </section>
    <section><h2>Take your time to assemble a nice picture</h2></section>
    <section><h2></h2></section>
    <section><h2>Have some fun with our board games</h2></section>
    <section><h2></h2></section>
    <section><h2>Try your friendship with card games</h2></section>
    <section><h2></h2></section>
  </main>
</Layout>

<style>
  main {
    position: relative;
    display: grid;
    justify-items: center;
    grid-column-start: 2;
    grid-column-end: 12;
    text-align: center;
    /* background-color: rgba(160, 157, 157, 0.733); */
    /* height: 400lvh; */
  }

  section {
    height: 100lvh;
    height: 100vh;
  }

  .welcome-screen {
    display: grid;
    place-content: center;
    gap: 10vh;
  }
  .welcome-header {
    font-size: 3rem;
  }
  .welcome-text {
    font-size: 2rem;
    max-width: 65ch;
  }

  .cards {
    display: grid;
    place-content: center;
  }
  .card-container {
    display: grid;
    place-content: center;
    gap: 2rem;
  }
  @media (min-width: 1024px) {
    .card-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
