---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
import BoardGame from "../components/BoardGame.astro"
import PuzzleGame from "../components/PuzzleGame.astro"
import CardGame from "../components/CardGame.astro"
---

<Layout title="Welcome to Playground">
  <main>
    <!-- <section>
      <h1 class="welcome-header">Welcome to Playground!</h1>
      <p class="welcome-text">We have variety of games for a whole family.</p>
      <ul class="card-container">
        <Card
          href="#jigsaw"
          title="Jigsaw Puzzles"
          body="Take your time to assemble a nice picture"
        />
        <Card
          href="#board"
          title="Board games"
          body="Have some fun with our board games"
        />
        <Card
          href="#card"
          title="Card games"
          body="Try your friendship with card games"
        />
      </ul>
    </section>
    <section class="container">
      <h1>Take your time to assemble a nice picture</h1>
      <PuzzleGame />
    </section>
    <section>
      <h1>Have some fun with our board games</h1>
      <BoardGame />
    </section>
    <section>
      <h1>Try your friendship with card games</h1>
      <CardGame />
    </section> -->
    <BoardGame />
  </main>
</Layout>

<style>
  main {
    display: grid;
    justify-items: center;
    grid-column-start: 2;
    grid-column-end: 12;
    text-align: center;
  }
  .welcome-header {
    font-size: 3rem;
  }
  .welcome-text {
    font-size: 2rem;
    max-width: 65ch;
  }
  .card-container {
    display: grid;
    gap: 2rem;
  }
  .container {
    width: 100%;
    display: grid;
    gap: 2rem;
    justify-content: center;
  }
  @media (min-width: 1024px) {
    .card-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
 ../components/Dice.ts ../components/Board.ts
