---
import "../styles/board-game.scss"
---

<div class="board-container">
  <img class="board" src="/images/game.jpg" alt="Board game" />
  <img class="board-piece" src="/images/game-player-piece.svg" />
</div>
