---
import "../styles/card-game.scss"
---

<div class="cards-container">
  <img class="unu-card" src="/images/unu-card.svg" alt="" />
  <img class="unu-card" src="/images/unu-card.svg" alt="" />
  <img class="unu-card" src="/images/unu-card.svg" alt="" />
  <img class="unu-card" src="/images/unu-card.svg" alt="" />
  <img class="unu-card" src="/images/unu-card.svg" alt="" />
  <img class="unu-card" src="/images/unu-card.svg" alt="" />
  <img class="unu-card" src="/images/unu-card.svg" alt="" />
  <img class="unu-card" src="/images/unu-card.svg" alt="" />
  <img class="unu-card" src="/images/unu-card.svg" alt="" />
  <img class="unu-card" src="/images/unu-card.svg" alt="" />
  <img class="unu-card" src="/images/unu-card.svg" alt="" />
  <img class="unu-card" src="/images/unu-card.svg" alt="" />
  <img class="unu-card" src="/images/unu-card.svg" alt="" />
  <img class="unu-card" src="/images/unu-card.svg" alt="" />
  <img class="unu-card" src="/images/unu-card.svg" alt="" />
  <img class="unu-card" src="/images/unu-card.svg" alt="" />
  <img class="unu-card" src="/images/unu-card.svg" alt="" />
  <img class="unu-card" src="/images/unu-card.svg" alt="" />
  <img class="unu-card" src="/images/unu-card.svg" alt="" />
  <img class="unu-card" src="/images/unu-card.svg" alt="" />
  <img class="unu-card" src="/images/unu-card.svg" alt="" />
  <img class="unu-card" src="/images/unu-card.svg" alt="" />
  <img class="unu-card" src="/images/unu-card.svg" alt="" />
  <img class="unu-card" src="/images/unu-card.svg" alt="" />
  <img class="unu-card" src="/images/unu-card.svg" alt="" />
  <img class="unu-card" src="/images/unu-card.svg" alt="" />
  <img class="unu-card" src="/images/unu-card.svg" alt="" />
  <img class="unu-card" src="/images/unu-card.svg" alt="" />
  <img class="unu-card" src="/images/unu-card.svg" alt="" />
  <img class="unu-card" src="/images/unu-card.svg" alt="" />
  <img class="unu-card" src="/images/unu-card.svg" alt="" />
  <img class="unu-card" src="/images/unu-card.svg" alt="" />
  <img class="unu-card" src="/images/unu-card.svg" alt="" />
</div>
