---
import "../styles/puzzle-game.scss"
---

<ul class="puzzle">
  <li class="piece"></li>
  <li class="piece"></li>
  <li class="piece"></li>
  <li class="piece"></li>
  <li class="piece"></li>
  <li class="piece"></li>
  <li class="piece"></li>
  <li class="piece"></li>
  <li class="piece"></li>
  <li class="piece"></li>
  <li class="piece"></li>
  <li class="piece"></li>
  <li class="piece"></li>
  <li class="piece"></li>
  <li class="piece"></li>
  <li class="piece"></li>
  <li class="piece"></li>
  <li class="piece"></li>
  <li class="piece"></li>
  <li class="piece"></li>
  <li class="piece"></li>
  <li class="piece"></li>
  <li class="piece"></li>
  <li class="piece"></li>
  <li class="piece"></li>
</ul>
