<div class="container">
  <canvas></canvas>
</div>

<script>
  import {
    renderEnvironment,
    updateSceneSize,
  } from "./logic/renderEnvironment.ts"

  import { dice } from "./3dObjects/Dice.ts"
  import { board } from "./3dObjects/Board.ts"
  import { table } from "./3dObjects/Table.ts"
  import { jigsaw } from "./complexObjects/Jigsaw.ts"
  import { boardGamePiece } from "./3dObjects/BoardGamePiece"
  import { puzzlePiece } from "./3dObjects/PuzzlePiece"
  import { gameCard } from "./3dObjects/GameCard"
  import { cardDeck } from "./complexObjects/CardDeck"

  window.addEventListener("resize", updateSceneSize)

  const Table = table()
  // const Dice = dice()
  // const Jigsaw = jigsaw()
  // const puzzle = puzzlePiece({})
  // const Board = board()
  // const gamePiece = boardGamePiece()
  const CardDeck = cardDeck()

  renderEnvironment({
    staticObjects: [Table],
    // objects: [gamePiece],
    objectArrays: [CardDeck],
  })
</script>

<style>
  .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
</style>
