---
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @import "open-props/style";

  /* Reset start */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
    border: none;
    background: none;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  #root,
  #__next {
    isolation: isolate;
  }
  /* Reset end */
  html {
    font-family: system-ui, sans-serif;

    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
  }

  .fade-out {
    animation: var(--animation-fade-out) forwards;
    pointer-events: none;
  }

  .fade-in {
    animation: var(--animation-fade-in) forwards;
    pointer-events: initial !important;
  }

  .opacity-0 {
    opacity: 0;
  }

  .screen-size {
    height: 100vh;
    height: 100lvh;
    overflow: hidden;
  }
</style>
